:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --hospital-green: #acd9b2;
    --text-input-field: #f7f7f7;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

.navbar-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid var(--text-input-field);
    box-shadow: 0 0 10px 0 var(--text-input-field);
    height: 60px;
    width: 100%;
    position: fixed;
    background: var(--white);
    top: 0;
}

.navbar-header .menu-bar {
    display: none;
    cursor: pointer;
}

.navbar-header .logo {
    width: 120px;
}

.navigation ul {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navigation ul li {
    list-style: none;
    margin-right: 15px;
}

.nav {
    margin-left: 20px;
}

.nav ul li a {
    color: var(--very-light-pink);
    font-size: var(--md);
}

.all {
    border: 1px solid var(--hospital-green);
    border-radius: 5px;
    background-color: var(--white);
    /* padding: 10px; */
    width: 40px;
    text-align: center;
}

.all a {
    color: var(--hospital-green) !important;
    font-weight: bold;
}

.navigation ul li a {
    text-decoration: none;
}

.menu ul {
    display: flex;
    justify-content: end;
}

.menu ul li {
    margin: 0;
}

figure {
    width: 30px;
    height: 30px;
}

.img-shopping-cart {
    width: 30px;
    height: 30px;
    position: relative;
}

.quantity {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 10px;
    font-weight: bold;
    background-color: var(--hospital-green);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    color: var(--dark);
    font-weight: 400;
    font-size: var(--sm);
    cursor: pointer;
}

.figure {
    cursor: pointer;
}

.arrow {
    width: 5px;
}

.inactive {
    display: none;
}

/* Navbar */


.traslate-arrow {
    transform: rotate(90deg)
}

.navbar {
    border: 1px solid var(--very-light-pink);
    border-radius: 0 0 5px 5px;
    padding: 20px 40px 0 40px;
    position: absolute;
    top: 60px;
    right: 60px;
    width: 180px;
    background: var(--white);
}

.navbar ul li {
    list-style: none;
}


.navbar ul li:last-child {
    border-top: 1px solid var(--very-light-pink);
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar ul li:last-child a {

    color: var(--hospital-green);
    margin-top: 20px;
}

.navbar ul li a {
    font-weight: bold;
    color: var(--dark);
    font-size: var(--md);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/* Menu mobile */
.mobile-nav {
    /* display: block; */
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--white);
}

.mobile-nav ul li {
    list-style: none;
    margin-bottom: 10px;
}

.mobile-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--lg);
    color: var(--dark);
    display: inline-block;
    margin-bottom: 10px;

}

.mobile-nav .account {
    border-top: 1px solid var(--very-light-pink);
}

.mobile-nav .account li:nth-child(1) {
    margin-top: 20px;
}

.mobile-nav .sign-out {
    margin-top: 50px;
}

.mobile-nav .sign-out li:nth-child(1) a {
    color: var(--dark);
    font-weight: 400;
    font-size: var(--md);
}

.mobile-nav .sign-out li:nth-child(2) a {
    color: var(--hospital-green);
    font-size: var(--lg);
}

/* Shopping cart */
.shopping-cart {
    width: 400px;
    margin-top: 20px;
    grid-template-rows: auto 1fr auto;
    position: absolute;
    right: 0;
    top: 60px;
    padding-right: 20px;
    background: var(--white);
    padding: 10px;
}

.shopping-cart-display-grid {
    display: grid;
}

.shopping-cart .title {
    font-size: var(--lg);
    color: var(--dark);
    margin-bottom: 30px;
}

.shopping-cart .info-order {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--text-input-field);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 24px;
    align-items: center;
}

.shopping-cart .info-order p:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: var(--sm);
}

.shopping-cart .info-order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    font-size: var(--md);
    color: var(--dark);
}

.shopping-cart .detail-order {
    display: flex;
    flex-direction: column;
}

.shopping-cart .detail-order .detail {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.shopping-cart .detail-order .detail figure {
    width: 50px;
    height: 50px;
}

.shopping-cart .detail-order .detail figure img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.shopping-cart .detail-order .detail .name-product {
    font-weight: 400;
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.shopping-cart .detail-order .detail .price {
    font-weight: bold;
    color: var(--dark);
    font-size: var(--md);
    margin-right: 10px;
}

.shopping-cart .primary-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--hospital-green);
    color: var(--white);
    font-weight: bold;
    font-size: var(--md);
    cursor: pointer;
}

.shopping-cart .close {
    cursor: pointer;
}

.shopping-cart .flechita {
    cursor: pointer;
    transform: rotate(180deg);
    margin-right: 15px;
}


/* Home page list products */
.container-products {
    margin-top: 80px;
    margin-bottom: 30px;
}

.container-products .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    place-content: center;

}

.container-products .card-products {
    width: 240px;
}

.container-products .card-products img {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

.container-products .card-products div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.container-products .card-products div .info {
    display: flex;
    flex-direction: column;

}

.container-products .card-products .price {
    font-weight: bold;
    font-size: var(--md);
}

.container-products .card-products .name-product {
    font-weight: 300;
    font-size: var(--sm);
}

.container-products .card-products div figure {
    width: 40px;
    height: 40px;
}

.container-products .card-products div figure img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


@media(max-width:880px) {
    .email span {
        display: none;
    }

    .email img {
        font-weight: bold;
        width: 20px;
    }
}

@media (min-width:671px) {
    .mobile-nav {
        display: none;
    }
}

@media (max-width:670px) {
    .navbar {
        display: none;
    }

    .navbar-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navbar-header .menu-bar {
        display: flex;
    }

    .nav {
        display: none;
    }



    .email {
        display: none;
    }

    .shopping-cart {
        width: 100%;
        padding-left: 10px;
    }

    .container-products .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 10px;
    }

    .container-products .card-products {
        width: 140px;
    }

    .container-products .card-products img {
        width: 100%;
        height: 140px;
        border-radius: 20px;
        object-fit: cover;
    }


    .container-products .card-products div figure {
        width: 35px;
        height: 35px;
    }

}